extends layout

block content
    h1 Input Form
    form(action="/products/inputs",method="post")
        .form-group
            label(for="name") Product Name
            input#name(type="text", class="form-control",name="name")
        .form-group
            label(for="name") Product Price
            input#name(type="text", class="form-control",name="price")
        input(type="submit",class="btn btn-info")    

    