extends layout

block content
    .row
        .col-sm-8
            h1=title
        .col-sm-4
             a(href="/products/inputs", class="btn btn-success float-right"  ) Add New Product

    table.table 
        thead
            tr
                th Name 
                th Price
                th Actions
        tbody
         each pro in data
             tr
                    td=pro.name
                    td=pro.price
                    td
                        a(href="/products/delete/"+pro._id,class="btn btn-danger") Delete 
                        a(href="/products/edit/"+pro._id,class="btn btn-success") Edit
                        a(href="/products/cart/"+pro._id,class="btn btn-info") Cart

            

    
    
        
        
